<!DOCTYPE html>
<html>
  <head>
    <title><%=t('app_name')%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="flash" class="flash">
      <%= render Layout::FlashComponent.new(flash:)%>
    </div>

    <%= render Layout::NavBarComponent.new(links: [
      {
        href: root_path,
        text: "Home"
      },
      {
        href: travels_path,
        text: t('menu.travels')
      }
    ], user_signed_in: user_signed_in?, user: current_user) %>
    <%= yield %>
  </body>
</html>
